.allbusiness{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.business-list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 290px;
}

img{
    width: 300px;
    height: 300px;
}

.business-list a:hover{
    background-color: #88d1f3e3;
}
