html{
    font-family: Arial, Helvetica, sans-serif;
}

.allbusiness{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h2,a{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.business-list{
    display: flex;
    flex-direction: row;
    /* padding: 20px; */
    flex-wrap: wrap;
    width: 900px;
    height: 300px;
    /* background-color: white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    align-items: center;
    border-radius: 5px;
}

.business-list a{
  display: flex;
  flex-direction: row;
}



.cover-img img{
    min-width: 250px;
    width: 250px;
    height: 250px;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 10px;
}
.cover-img img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 0.8;
  }

#home-title{
    padding: 20px 5px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
  }
#home-title h2{
    font-family: 'Tourney', cursive;
    font-size: 2.5em;
}

 #home-title h2:hover{
     text-decoration: underline ;
 }

 .fa-check{
     color: rgb(50, 199, 13);
     padding-left: 10px;
     padding-right: 3px;
 }

 .fa-dollar-sign{
     font-size: 13px;
     color: rgba(117,114,128,1);
     }

 .dollar-sign{
    font-weight: normal;
    padding: 0;
    margin: 0;
 }
