.form__container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}
.login-form__container{
    position: absolute;
    top: 5px;
    left: 400px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    border-radius: 5px;
    align-items: center;
    width: 500px;
    padding: 10px;
    margin-top: 50px;
}
.login-form__container form{
    padding: 10px;
    min-width: 80%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 8px;
}

.errors__container{
    color: red;
}

.fa-exclamation-circle{
    margin-right: 10px;
    color: red;
}
.all-errors{

}

.error-text{
color: black
}

.input__container{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.input__container p {
    font-size: 20px;
    margin: 0;
    margin: 0px 5px;
}
.text-input{
    margin: 0px 5px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.text-input:focus{
    box-shadow: 1px 0px 6px rgba(0, 140, 255, 0.788);
}

.submit-button__container{
    display: flex;
    flex-direction: column;
    align-items:center;
    box-sizing: border-box;
    padding: 5px;
    margin: 0 5px;
    width: 100%;
}
.submit-button{
    font: 16px Arial;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    background-color: #d32323;
    color: black;
    padding: 8px;
    width: 100%;
    border: 1px solid #d32323;
    color: #fff;
    border-radius: 5px;
}
.submit-button:hover{
    background-color: #df4646e7;
    border: 1px solid #df4646e7 ;
    cursor: pointer;
}

.login-img{
    position:absolute;
    top: 60px;
    left: 900px;
    width: 350px;
    height: 300px;
    margin: 50px;
}

.header{
    color: #d32323;
}

.demo-button{
    font: 16px Arial;
    font-weight: 600;
    text-decoration: none;
    background-color: #2384d3;
    padding: 8px 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    width: 70%;
    border: 1px solid #2384d3;
    color: #fff;
    border-radius: 5px;
}
.demo-button:hover{
    background-color: #2384d3cc;
    border: 1px solid #2384d3cc ;
    cursor: pointer;
}
