.navbar__container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #d32323;
    color:white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    justify-content: space-between;
    align-items: center;
}

/* .navbar-right__container{
    display: flex;
    flex-direction: row;
    color: white;
} */



.navbar-right__container a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 15px;
}

.navbar-right__container a:hover{
    background-color: white;
    color: #d32323;
}

.navbar-left__container a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    box-sizing: border-box;
    padding: 5px 10px;
}


.profile-button{
    color: white;
    background-color:  #d32323;
    box-sizing: border-box;
    border: 1px solid #d32323;
    font-size: 32px;
}
.profile-button:hover{
    cursor: pointer;
}

.profile-dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 23px;
    color: #636264;
    top: 68px;
    background-color: #f7f7f7bd;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    align-items:flex-start;
}
.dropdown-list{
    box-sizing: border-box;
    border-bottom: 1px solid white;
    margin: 0px 0px 5px;
    font-weight: bold;
}
.logout-button{
    box-sizing: border-box;
    border: 1px solid rgb(80, 170, 192);
    border-radius: 5px;
    background-color:rgb(80, 170, 192);
    font-weight: bold;
    color: white;
    padding: 5px 30px;
}

.logout-button:hover{
   background-color: cyan;
   border: 1px solid cyan;
   color: black;
   cursor: pointer;
}

.about-me a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    box-sizing: border-box;
    padding: 5px 10px;
}

.triangle{
    font-size: 30px;
}

.fa-caret-up{
    position: absolute;
    top: -18px;
    right: 10px;
    color: #ebebeb;
}
